<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off"
      internalLogFile="Logs\internal-nlog-Core.txt">

  <targets>
    <!--控制台输出-->
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} [${level:uppercase=true}] ${logger:shortName=true} ${message}"/>
    
    <!--调试输出-->
    <target name="debug_file"
            xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}/Core-OperationLog.txt"
            maxArchiveFiles="30"
            layout="【${longdate}】${level:uppercase=false} ${callsite:className=True:fileName=True:includeSourcePath=False:methodName=False}:${message}" />
    
    <!--错误输出-->
    <target name="error_file"
            xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}/Core-ErrorLog.txt"
            maxArchiveFiles="30"
            layout="【${longdate}】${level:uppercase=false} ${callsite:className=True:fileName=True:includeSourcePath=False:methodName=False}:${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="System.*" finalMinLevel="Warn"/>
    <logger name="Microsoft.*" finalMinLevel="Warn"/>
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info"/>

    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="debug_file" />
    <logger name="*" minlevel="Error" writeTo="error_file" />
  </rules>
</nlog>