<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="true"
	  internalLogLevel="Off"
	  internalLogFile="Logs\internal-nlog-AspNetCore.txt">

	<targets>
		<!--控制台输出-->
		<target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${logger} ${message}"/>
		<!--调试输出，带行号-->
		<target name="debug_file"
				xsi:type="File"
                fileName="${basedir}/Logs/${shortdate}/OperationLog.txt"
				maxArchiveFiles="30"
			layout="【${longdate}】${level:uppercase=false} ${callsite:className=True:fileName=True:includeSourcePath=False:methodName=False}:${message}" />
		<!--错误输出，带行号-->
		<target name="error_file"
				xsi:type="File"
                fileName="${basedir}/Logs/${shortdate}/ErrorLog.txt"
				maxArchiveFiles="30"
                layout="【${longdate}】${level:uppercase=false} ${callsite:className=True:fileName=True:includeSourcePath=False:methodName=False}:${message}" />
	</targets>

	<rules>
		<logger name="System.*" finalMinLevel="Warn"/>
		<logger name="Microsoft.*" finalMinLevel="Warn"/>
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info"/>

		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Debug" writeTo="debug_file" />
		<logger name="*" minlevel="Error" writeTo="error_file" />
	</rules>
</nlog>